.body-ergo{

    &,
    & *{
        @include text-type-copy;
    }

    p{
        @include text-type-copy;
        margin: 0 0 22PX;
    }

    strong, b{
        @include text-type-copy;
        font-weight: 700!important;
    }

    h1 {
        @include text-type-h1;
    }

    h2 {
        @include text-type-h2;
    }

    h4 {
        @include text-type-h4;
    }

    h5 {
        @include text-type-copy;
        font-weight: bold;
    }

    hr {
        border-top: 3px solid $yellow;
    }
}

@media only screen and (max-width: 767px) {
    html{
        font-size:100%!important;
        }
}

@media only screen and (max-width: 479px) {
    html{
        font-size:85%!important;
        }
}