.row-ergo--contact{
    &__image{
        img {
            max-height: 150px;
            width: auto;
            float: right;
            padding: 0 30px!important;
        }

        figcaption{
            display: none!important;
        }
    }

    &__textbox{
        strong{
            font-weight: 700!important;
        }
    }

    &__map{
        background: #9d9d9c;
        width: 100vw!important;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        img{
            width: 550px;
            left:50%;
            transform: translateX(-50%);
        }

        figcaption{
            display: none!important;
        }
    }

    a{
        margin: 0 50px;
        user-select: none;
        color: $red!important;
    }

    .downloads-area {
        margin: 20px 0 30px;
    }

}