.row-ergo--contact{
    &__image{
        img {
            max-height: 150px;
            width: auto;
            float: right;
            padding: 0 30px!important;
        }
        prop: val;
    }

    &__textbox{
        strong{
            font-weight: 700!important;
        }
    }

    a{
        margin: 0 50px;
        user-select: none;
        color: $red!important;
    }

    .downloads-area {
        margin: 20px 0 30px;
    }

}