.row-ergo--parallax{
    height: 520px;
    background-size: auto;
    background-position: center -120px;
    max-height: calc( 100vh - 130px );

    & > .spb_content_element{
        position: absolute!important;
        left: 0;
        right: 0;
        bottom: 20px;

        &:before {
            content: "";
            left: 0;
            right: 0;
            position: absolute;
            height: 100%;
            background: white;
            opacity: 0.5;
        }
    }

    @media only screen and (max-width: 991px) {
        background-size: contain;
        height: 0;
        padding-top: 66.7%!important;
    }
}