.row-ergo--contact{
    &__image{
        img {
            max-height: 150px;
            width: auto;
            float: right;
            padding: 0 30px!important;
        }

        figcaption{
            display: none!important;
        }
    }

    &__textbox{
        strong{
            font-weight: 700!important;
        }
    }

    &__map{
        height: 300px;

        &:before{
            content: "";
            position: absolute;
            width: 100vw;
            height: 100%;
            background: $darkgray;
            left: 50%;
            transform: translateX(-50%);
        }

        .exggmap{
            &-wrapper{
                height:300px;
                padding-top: 0!important;

                button{
                    position: absolute;
                    left: 0;
                    right: 0;
                    display: block;
                    width: 100%;
                    top: 0;
                    bottom: 0;
                    cursor: pointer;
                    opacity: 0;
                }
            }

            &-mask{
                transition: opacity 1s ease-in .5s;
            }

            &-caption{
                position: relative;
                z-index: 1;
                color: $light;
                background-image: url('../images/maps.png');
                background-repeat: no-repeat;
                background-size: 50px;
                background-position: center top;
                padding-top: 80px;
                pointer-events: none;

                p{
                    color: inherit;
                    margin: 0;
                }

                a{
                    color: inherit;
                    pointer-events: all;
                    position: relative;
                    z-index: 1;
                }
            }
        }

        .exampp-hints{
            display:none;
        }
    }

    a{
        margin: 0 50px;
        user-select: none;
        color: $red;
    }

    .downloads-area {
        margin: 20px 0 30px;
    }

}