// text-types

@mixin text-type-default {
    line-height: normal;
    font-family: 'Noto Sans', sans-serif;
    color: $red;
}

@mixin text-type-copy {
    @include text-type-default;
    font-size: 16PX;
    line-height: 22PX;

    @media only screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 22px;
    }
}

@mixin text-type-headline {
    @include text-type-default;
    font-family: 'Noto Sans Light', sans-serif;
    font-weight:500;
}

@mixin text-type-h1 {
    @include text-type-headline;
    font-size: 50PX;
}

@mixin text-type-h2 {
    @include text-type-headline;
    font-size: 36PX;
}

@mixin text-type-h3 {
    @include text-type-default;
    font-weight: 700;
    font-style: italic;
    font-size: 28PX;
}

@mixin text-type-h4 {
    @include text-type-default;
    font-size: 20PX;
    margin-top: 0;

}

@mixin text-type-small {
    @include text-type-copy;
    font-size: 12PX;
    line-height: 26PX;

    @media only screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 16px;
    }
}
